.login, .signup {
	 width: 100%;
	 margin: auto;
	 height: 100vh;
	 display: flex;
	 flex-direction: column;
	 justify-content: flex-start;
}
 @media (min-width: 568px) {
	 .login, .signup {
		 width: 465px;
		 justify-content: center;
	}
}
 .login__modal, .signup__modal {
	 width: 100%;
	 display: flex;
	 flex-direction: column;
	 padding: 3.25rem;
	 line-height: 1.5;
	 color: #3d454d;
	 background-color: #fdfefe;
	 margin: 0 auto;
	 transition: height 0.1s;
}
 @media (min-width: 568px) {
	 .login__modal, .signup__modal {
		 border-radius: 8px;
		 border: 1px solid #fff;
		 box-shadow: 0 0.25rem 1rem 0 rgba(108, 99, 255, 0.2);
	}
}
 .login__modal h1, .signup__modal h1 {
	 text-align: center;
}
 .login__modal__form .error, .signup__modal__form .error {
	 color: #f93d3d;
	 margin-bottom: 8px;
}
 .login__modal__form input, .signup__modal__form input {
	 width: 100%;
	 height: 41px;
	 width: 100%;
	 border: 1px solid #e0e2e3;
	 height: 38px;
	 margin: 0;
	 padding-left: 10px;
	 padding-right: 10px;
	 outline: none;
	 box-shadow: none;
	 font-size: 100%;
}
 .login__modal__form input[name="email"], .signup__modal__form input[name="email"] {
	 border-radius: 3px 3px 0 0;
}
 .login__modal__form input[name="password"], .signup__modal__form input[name="password"] {
	 border-radius: 0 0 3px 3px;
	 border-top-width: 0;
}
 .login__modal__form button, .signup__modal__form button {
	 display: block;
	 margin: 12px auto 0;
	 line-height: 15px;
	 height: auto;
	 padding: 12px 16px;
	 width: 100%;
	 min-width: 80px;
	 color: #fff;
	 background-color: #5f5acc;
	 transition: ease all 200ms;
}
 .login__modal__form button:hover, .signup__modal__form button:hover {
	 background-color: #141942;
}
 .login__modal .redirect-text, .signup__modal .redirect-text {
	 margin-top: 24px;
	 text-align: center;
}
 .login__modal .redirect-text a, .signup__modal .redirect-text a {
	 font-weight: bold;
}
