.Layout {
  background-color: var(--bg);
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-areas: "menu main";
}

.sidebarMenu {
  grid-area: menu;
  background-color: var(--bgAlt);
  border-right: 1px solid var(--hr);
  min-height: 100vh;
  padding-right: 1.5rem;
}

.sidebarMenu h3 {
  padding: 1rem;
}

.Layout__main {
  grid-area: main;
}

.mainContent {
  padding: 1rem 2rem;
}

.topMenu {
  background-color: var(--bgAlt);
  height: 4rem;
  margin: 0;
  padding: 0 0.5rem;
}

.topMenu__spacer {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: auto;
  min-height: 4rem;
  padding: 0 1rem;
}

.topMenu__navigation__list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.avatar {
  background-color: var(--accent);
  border-radius: 1rem;
  color: var(--bgAlt);
  margin-right: 1rem;
  padding: 0 1rem;
}

.topMenu__navigation__list__item {
  color: var(--textNormal);
  text-decoration: none;
}
