@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&family=Fira+Mono:wght@400;500&display=swap");

body,
#root {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 100%;
  width: 100%;
}

.App-wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.Nav {
  margin: 0;
  padding: 0.25rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.Nav a {
  padding: 0 0.5rem 0;
}
.App__body {
  max-width: 1080px;
  width: 100%;
  margin: auto;
}
h1,
h2,
h3,
h4,
strong,
label {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 700;
}

h5,
h6 {
  font-weight: 700;
}

h5,
h6,
li,
div,
p {
  font-family: "Fira Mono", sans-serif;
}

a:visited {
  color: inherit;
}

input {
  box-sizing: border-box;
}

/* colors */
:root {
  --bg: #effff7;;
  --bgAlt: #fff;
  --accent: rgb(255, 96, 95);

  --hr: #aaa;
}
