body,
#root {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: 0;
  height: 100%;
  width: 100%;
}

.App-wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.Nav {
  margin: 0;
  padding: 0.25rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.Nav a {
  padding: 0 0.5rem 0;
}

.App__body {
  max-width: 1080px;
  width: 100%;
  margin: auto;
}
